<h2>Plantões Aceitos</h2>
<ng-container *ngIf="propositions$ | async as propostas">
  <ng-container *ngIf="propostas.length !== 0">
    <div class="propositions">
      <ng-container *ngFor="let proposta of propostas">
        <div class="proposition">
          <div class="header">
            <h3>{{proposta.hospital.nomeFantasia}}</h3>
            <p>{{getSpecialtyName(proposta.especialidade)}}</p>
          </div>
          <div class="info">
            <div class="info-content">
              <smg-icon icon="location_on" [size]="16" />
              <p>{{proposta.hospital.endereco}}, {{proposta.hospital.numero}} - {{proposta.hospital.bairro}}</p>
            </div>
            <div class="info-content">
              <smg-icon icon="calendar_month" [size]="16" />
              <p>{{proposta.dataInicio | mask: '00/00/0000'}} • {{proposta.horaInicio | mask: '00:00'}} às {{proposta.horaFim | mask: '00:00'}}</p>
            </div>
            <div class="info-content">
              <smg-icon icon="schedule" [size]="16" />
              <p>{{proposta.duracao}} horas</p>
            </div>
            <div class="info-content">
              <smg-icon icon="payments" [size]="16" />
              <p>{{proposta.valorPlantao | currency: 'BRL'}}</p>
            </div>
          </div>
          <button smg-button variant="tonal" (click)="cancelProposition(proposta)" [danger]="true">Cancelar Plantão</button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="propostas.length === 0">
    <div class="empty">
      <p>Você ainda não aceitou nenhuma proposta.</p>
    </div>
  </ng-container>
</ng-container>
